*,
::before,
::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
 
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

  font-family: Montserrat;
  font-size: 1rem;
}

form {
  background: #fff;
  width: 360px;
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.Wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_wrapper {
  height: 48px;
  position: relative;
}

.styledInput {
  width: 100%;
  height: 100%;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #6c757d;
  border-radius: 0.5rem;
  outline: none;

  &:focus {
    border: 1.5px solid #118ab2;
  }
}

label {
  background-color: #fff;
  color: #80868b;
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 0.25rem;
  font-size: 1rem;
  transition: 0.3s;
}

/*Input focus move up label*/
.styledInput:focus + label {
  color: #52b788;
  top: -0.5rem;
  left: 0.8rem;
  z-index: 10;
  font-size: 0.75rem;
  font-weight: 500;
}

.styledInput:not(:placeholder-shown).styledInput:not(:focus) + label {
  top: -0.5rem;
  left: 0.8rem;
  z-index: 10;
  font-size: 0.75rem;
  font-weight: 500;
}
#myHeading{
  width: 10px;
}
